root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.md]
# Markdown は行末の空白 2 つが改行を意味するため、削らない
trim_trailing_whitespace = false
